/**
 Folha de estilo do site roboticapratica.com
 @author Professor José de Assis
 @link https://joseassis.com.br
*/

/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&display=swap");


/* variáveis globais */
:root {
    --cinzaLayout: #3c3c3c;
    --brancoLayout: #ffffff;
}

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* LAYOUT >>>>>>>>>>>>>>>>>>>>>>>>>> */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
}

.Container {
    margin: 0 auto;
    padding: 50px 15px 50px 15px;
}

.Flex,
.FlexMenu {
    display: Flex;
    justify-content: space-between;
}

.Flex {
    flex-direction: column;
}

/* Smartphone portrait >>>>>>>>>>>>>>>> */
/* Cabeçalho */
header {
    height: 80px;
    background-color: aqua;
}

#logo img {
    width: 265px;
    height: 60.88px;
    margin: 10px 0px 0px 10px;
}

/* Rodapé */
footer {
    background-color: var(--cinzaLayout);
    color: var(--brancoLayout);
    text-align: center;
}

#social {
    margin-bottom: 25px;
}

/* Smartphone landscape >>>>>>>>>>>>>>> */
@media (min-width: 576px) {

    /* Layout */
    .Container {
        max-width: 540px;
    }

    /* Cabeçalho */
    header {
        max-width: 540px;
        margin: 0 auto;
    }

    .Flex {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    #social {
        margin: 0;
    }
}

/* Tablet portrait >>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px) {

    /* Layout */
    .Container {
        max-width: 720px;
    }

    /* Cabeçalho */
    header {
        max-width: 720px;
        height: 100px;
        background-color: chartreuse;
    }

    #logo img {
        width: 353.34px;
        height: 81.2px;
        margin: 10px 0px 0px 0px;
    }
}

/* Tablet landscape >>>>>>>>>>>>>>>>>>> */
@media (min-width: 992px) {

    /* Layout */
    .Container {
        max-width: 960px;
    }

    /* Cabeçalho */
    header {
        max-width: 992px;
    }
}

/* PCs ou notebooks HD >>>>>>>>>>>>>>>> */
@media (min-width: 1200px) {
    
    /* Layout */
    .Container {
        max-width: 1140px;
    }

    /* Cabeçalho */
    header {
        max-width: 1140px;
        height: 125px;
        background-color:chocolate;
    }

    #logo img {
        width: 424px;
        height: 97.4px;        
    }
}

/* PCs, notebooks ou Tv Full HD + >>>> */
@media (min-width: 1400px) {
    
    /* Cabeçalho */
    header {        
        height: 150px;
        background-color:crimson
    }

    #logo img {
        width: 530px;
        height: 121.75px;       
    }
}